@import url('https://fonts.googleapis.com/css?family=Play&display=swap');

html,
body {
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.fight-background {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../resources/fight-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: white;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.fighter-image-big {
    height: 470px;
    width: 280px;
}


#start-game {
    margin-top: 74px;
    width: 180px;
    height: 50px;
    border: none;
    background-color: darkblue;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

#start-game:active,
#start-game:hover {
    background-color: red;
}

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

#modal-error {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.skills-modal {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-3rem);
    transition: opacity 200ms ease-out, transform 500ms;
    width: 315px;
    background-color: lightgrey;
    box-shadow: 0 1px 7px 0 rgba(52, 52, 52, 0.54);
    border-radius: 7px;
}

.skills-modal-error {
    display: flex;
    padding: 15px;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-3rem);
    transition: opacity 200ms ease-out, transform 500ms;
    color: #00a99d;
    background-color: #fff;
    box-shadow: 0 1px 7px 0 rgba(52, 52, 52, 0.54);
    border-radius: 3px;
}

.open {
    opacity: 1 !important;
    transform: translateY(0);
}

.skill-label {
    align-self: center;
    font-size: 20px;
    font-weight: bold;
}

.name-fighter{
    font-size: 23px;
    font-weight: bolder;
    margin: 15px;
    padding: 0 !important;
    color: red;
}

.skill-input {
    width: 50%;
    height: 15%;
    font-size: 25px;
    align-self: center;
    background-color: lightcyan;
    border: none;
    text-align: center;
    border-radius: 5px;
}

.skill-input[type="number"] {
    padding-left: 16px;
}

.update-skills {
    margin-top: 27px;
    margin-bottom: 15px;
    height: 35px;
    width: 120px;
    border: none;
    background-color: darkblue;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    align-self: center;
    border-radius: 30px;
    cursor: pointer;
}

.update-skills:active,
.update-skills:hover {
    background-color: blue;
}

.checked-fighter {
    align-self: center;
    margin-top: 5px;
}

input[type='checkbox'] {
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    -webkit-appearance: button;
    border: double 2px #000000;
    background-color: #FFFFFF;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    width: 30px;
    height: 30px;
}
input[type='checkbox']:checked {
    background-color: #8CFF00;
}

.fight-area {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fighter2-image-big {
    transform: scaleX(-1);
}

.light {
    color: #000!important;
    background-color: #f1f1f1!important;
}

.round {
    border-radius: 4px;
}

.container {
    /*padding:0.01em 16px;*/
    width: 100%;
    margin-bottom: 60px;
}

.red {
    color: #fff!important;
    background-color: red!important;
}

.blue {
    color: #fff!important;
    background-color: dodgerblue!important;
}

.main-menu {
    visibility: hidden;
    position: fixed;
    height: 45px;
    width: 140px;
    top: 6%;
    left: 45%;
    background-color: darkblue;
    color: #fff;
    font-size: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

.main-menu:active,
.main-menu:hover {
    background-color: orangered;
}

.winner-title {
    position: fixed;
    width: 70%;
    left: 50%;
    transform: translate(72%, -50%);
    transition: transform 3000ms;
    text-align: center;
    font-size: 120px;
    opacity: 0.8;
    color: #fff;
    background-color: #ff4e00;
    background-image: linear-gradient(320deg, #ff3700 0%, #eca204 75%);
    border-radius: 5px;
}

.fighters-name {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.fighter-big {
    padding: 15px;
}

